.bankLoanDetail{margin-bottom: 30px;padding-top: 17px;} 
.bankLoanDetail figure{max-width: 166px;object-fit: contain;}
.bankText p{color: #4a4a4a;line-height: 24px;font-size: 14px;margin-bottom: 20px;}
.bankText p:last-child{margin-bottom: 0;}


.bankInIndia{background: #f8f8f8;padding: 40px 0 0;}
.bankList{display: inline-flex;flex-wrap: wrap;grid-gap: 20px;width: 100%;}
.bankList li{border-radius: 10px;border: solid 1px #dbdee5;max-width: 200px; background-color: #fff;flex:0 0 auto;padding: 15px;overflow: hidden;max-height: 105px;}
.bankList li img{max-height: 40px !important;object-fit: contain;}
.bankList li figure{position: relative;}

.eligible{margin: 50px 0;}
.eligible h2{color: #000;font-size: 24px;font-weight: 300;}
.eligible h3{ color: #181d2f;line-height: 26px;font-size:18px;font-weight: 300;margin-bottom: 15px;}
.eligible p{font-size:14px;color: #4a4a4a;line-height: 24px;margin-bottom: 15px;}
.eligible table{text-align: left; margin: 25px 0 50px 0; border-collapse: collapse;width: 80%;overflow: hidden; border-radius: 4px;border-style: hidden;box-shadow: 0 0 0 1px #dfe6ee;  }
.respTable{overflow-x: auto;padding-left: 1px;}
.eligible table th,.eligible table td{color: #313541;font-size: 14px; padding: 15px;border-bottom: 1px solid #dfe6ee;vertical-align: top;}
.eligible table th{background-color: #e0e2e4;font-weight: 500; }
.eligible .blueHeading{color: #5c61a4;}
@media screen and (max-width: 540px){
	.eligible h2{font-size: 18px;}
	.eligible h3{font-size: 18px;line-height: 26px;margin-bottom: 14px;}
	.eligible p{font-size:12px;line-height: 24px;margin-bottom: 10px;}
	.eligible  ul li{font-size:12px;line-height: 28px;padding-left: 15px;}
	.eligible  ul li::before{height: 5px;width: 5px;top: 14px;}
	.eligible .respTable{margin-bottom: 48px;padding-top: 24px;}
	.eligible table th,.eligible table td{font-size:12px;white-space: nowrap;padding: 12px;}
	.eligible table{width: 100%;}
	.respTable{margin-bottom: 12px;}

}

@media screen and (max-width: 680px){
	.bankInIndia{padding:9.166vw 0}
	.bankList li{flex:1 0 45%;display: flex;align-items: center;justify-content: center;max-width: 47%;}
}