.wraper{display: flex; gap: 50px;}
.allcreditEnq{ background-image: linear-gradient(146deg, #f3f5f7 1%, #f8fafb 100%);padding-bottom: 70px;padding-top: 27px;}
.blankScreen{ background-color: #f6f8f9; display: flex;flex-direction: column;justify-content: center;align-items: center;width: 100%;}
.blankScreen figure{margin-bottom: 20px;}
.blankScreen .mainHead{color: #4a4a4a;font-size: 18px;font-weight: 500;margin-bottom: 10px;}
.blankScreen p{color: #4a4a4a;font-size: 14px;font-weight: 500;margin-bottom: 10px;}

@media screen and (max-width:540px){
    .creditReportTabsection{display: none;}
    .blankScreen figure{max-width: 200px;}
    .blankScreen figure img{width: 200px;}
    .blankScreen .mainHead{font-size: 16px;}
    .blankScreen p{font-size: 12px;}

}