.privacy{margin:0 0 30px;display:block;background:#fff;border-bottom:#EBEBEB solid 1px;overflow:hidden}
.privacy h1,.privacy h2{margin-bottom: 15px;font-weight: 400;font-size: 24px;color: #000;}
.privacy h3{font-size: 18px;color: #000;margin-bottom: 10px;font-weight: 400;}
.contentBox h1{margin:0 0 10px;padding:10px 0;font-size:35px;font-weight:400;color:#000}
.contentBox p{margin-bottom:10px;font-size:14px;line-height: 22px;color: #4a4a4a;}
.contentBox p strong{font-weight: 400;}
.contentBox p a{color:#000;text-decoration:none}