.copyright{background: #000000; padding: 15px 0;display: flex;justify-content: space-between;}
.copyrightContainer{display: flex;justify-content: space-between;align-items: center;}
.opac{opacity: 0.6;}
.copyright  ul{display: flex;position: relative;}
.copyright  ul li{padding: 0 10px;}
.copyright  ul li::after{content: '-';position: absolute;font-size:  12px;color: #c7c7c7;margin: 0 5px;}
.copyright  ul li:last-child:after{display: none}
@media screen and (max-width: 540px){
	.copyrightContainer{flex-direction: column;padding: 15px;grid-gap: 10px;}
	.copyright  ul{justify-content: space-between;}
	.copyright  ul li:first-child{padding-left: 0;}
	/* .copyright  ul li::after{left: 54px;} */
}
