.crdeqnimpacts{margin-bottom: 50px; position: relative; display: flex;padding: 34px 20px 20px;align-items: center; border-radius: 8px;box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.1);background-color: #fff;}
.crdeqnimpacts .iconBord{position: absolute;width: 40px;height: 40px;justify-content: center;top: -17px; display: flex;align-items: center; border: solid 1px rgba(157, 157, 157, 0.2);background-color: #f8f9fa;border-radius: 50%;}
.crdeqnimpacts .noOfenq{border-right: 1px solid #dfe6ee;flex:0 0 20%}
.crdeqnimpacts .noOfenq p{font-size: 16px;font-weight: 500; color: #181b30;line-height: 22px;margin-bottom: 12px;}
.crdeqnimpacts .allenq{flex: 1;border-right: 1px solid #dfe6ee;display: flex;flex-direction: column;align-items: flex-start;padding-left: 20px;}
.allenq .value{font-size: 18px;font-weight: 500;line-height: 26px;color: #181d2f;}
.allenq .type{font-size: 14px;color: #777777;line-height: 24px;}
.crdeqnimpacts .allenq:last-child{border: none;}
.crdeqnimpacts .allenq a{color: #474ebb;display: flex;align-items: center;gap: 0 5px; font-size: 12px;font-weight: 500;}
.impact {
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 20px 80px 0 rgb(0 0 0 / 10%);
    font-size: 10px;
}
.highImpact {color: #55a105;background-color: #ecfcda;}
.lowImpact {color: #454ec2;background-color: #ebedff;}
.medium {color: #D0A228;background-color: #ffe6a3;}

@media screen and (max-width:680px) {
    .crdeqnimpacts{flex-wrap: wrap;padding: 34px 20px 40px;margin-bottom: 25px;}
    .toppadding{padding-top: 10px}

    .enqSection{width: 100%;flex: 1;}
    .wraper{flex-wrap: wrap;}
    .crdeqnimpacts .noOfenq{margin-bottom: 24px;border: none;width: 100%;flex: 0 0 100%;padding-left: 35px;}
    .allenq .type{font-size: 11px;}
    .crdeqnimpacts .iconBord{top: 30px;left: 9px;}
    .crdeqnimpacts .allenq{flex: 0 0 33%;align-items: center;padding-left: 0;border-right: 1px solid rgba(223,230,238,0.4)}
    .crdeqnimpacts .allenq:nth-child(5){border: none;}
    /* .crdeqnimpacts .allenq:last-child{border: none;width: 100%; background-color: #f8f9fa;position: absolute;left: 0;border-radius: 8px;padding: 10px;bottom: 0;} */
}