.mutualFundtblWrap{ border-radius: 2px;margin-top: 25px; border: solid 1px #dadada;margin-bottom: 70px;}
.mutualFundtblWrap ul li{margin-bottom: 12px;}
.mutualFundtblWrap ul li:last-child{margin-bottom: 0;}
.mutualFundtblWrap ul li .title{background: rgba(246, 246, 246,0.8);padding: 20px;display: flex;justify-content: space-between;align-items: center;}
.mutualFundtblWrap ul li .webtbl{display: none;}
.mutualFundtblWrap ul li .mbltbl{display: none;}
.mutualFundtblWrap ul li.active .webtbl{display: block;}
.mutualFundtblWrap ul li.active {margin-bottom: 0;}
.mutualFundtblWrap ul li.active .mbltbl{display: none;}
.mutualFundtblWrap ul li.active .title img{transform: rotate(180deg);}
.mutualFundtblWrap ul li .webtbl table{table-layout: fixed; width: 100%;background: #fff;border-collapse: collapse;}
.mutualFundtblWrap ul li .webtbl table tr td{border: 1px solid #dfe6ee;padding: 16px 20px;text-align: center;vertical-align: top;}
.mutualFundtblWrap ul li .webtbl table tr td:last-child{border-right: none;}
.mutualFundtblWrap ul li .webtbl table tr td:first-child{border-left: none;}
.Rating{background: #ffac1e;color: #fff;padding:3px 6px;border-radius: 3px;font-size: 12px;}
.impact{padding: 2px 7px;border-radius: 10px;background-color: #fef2ee;align-self: flex-start;white-space: nowrap;}
.impacthigh{color: #f8303c;}
.impactgood{color: #55a105;background: #e9fcdb;}
.impacthigh{color: #f8303c;}
.hightIm{color: #f8303c;}
.medium{ color: #f59a02;background-color: #fff2e6;}
.goodIm{color: #55a105;}
.impactgood{color: #55a105;}
.aligncntr{display: flex;align-items: center;gap: 10px;text-align: left;white-space: nowrap;}
.aligncntr{display: flex;align-items: center;margin-top: 10px;}
.blueList li{position: relative; line-height: 20px;padding-left: 20px; list-style-position: inside; font-size:14px; color: #4a4a4a;margin-bottom: 8px !important;word-break: break-all;}
.blueList li::before {content: "";font-weight: bold;display: inline-block;width: 6px;height: 6px;position: absolute;border-radius: 50%;left: 0;background: #474ebb;top:6px;}
@media only screen and (max-width: 540px) {
    .mutualFundtblWrap{overflow: hidden;}
    .mutualFundtblWrap ul li .mbltbl{display: none;}
    .mutualFundtblWrap ul li.active .mbltbl{display: block;transition: 0.5s;}
    .mutualFundtblWrap ul li .title p{font-size: 16px !important;}
    .mutualFundtblWrap ul li .title{padding: 15px;}
    .mutualFundtblWrap ul li.active .webtbl{display: none;}
    .mutualFundtblWrap ul li.active .mbltbl{display: block;margin-bottom: 16px;}
    .mutualFundtblWrap ul li .mbltbl table{table-layout: fixed; width: 100%;background: #fff;border-collapse: collapse;}
    .mutualFundtblWrap ul li .mbltbl table tr td{border: 1px solid #dfe6ee;padding: 16px 15px;text-align: center;vertical-align: top;}
    .mutualFundtblWrap ul li .mbltbl table tr th{padding: 10px;background: #efeef3;;}
    .mutualFundtblWrap ul li .mbltbl table tr td:last-child{border-right: none;padding: 12px 15px;}
    .mutualFundtblWrap ul li .mbltbl table tr td:first-child{border-left: none;word-break: break-word;}
    .blueList li{font-size: 12px;padding-left: 12px;}
}